* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  background: #f7efef;
}
.logo {
  width: 150px;
  cursor: pointer;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
  z-index: 100;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
nav ul li a:hover {
  color: #7e3f3d;
}
.text-box {
  margin-top: 100px;
  max-width: 550px;
}
.text-box h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #a35b59;
}
.text-box p {
  color: #606163;
  line-height: 1.5;
  width: 500px;
}
.arrow-icon {
  margin-right: 10px;
}
.text-box a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #a35b59;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 50px;
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}
.text-box a:hover {
  background-color: #7e3f3d;
  transform: scale(0.9);
}
.user-box {
  background: #e1c5c4;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 1;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
.user-box img {
  display: block;
  padding-top: 130px;
  padding-bottom: 50px;
  width: 400px;
  cursor: pointer;
}
